<nav class="navbar navbar-expand-lg navbar-light bg corTerra">
    <a class="navbar-brand corLetraBranco" ><img src="https://i.imgur.com/VO6rJcn.png" 
        width="50px" height="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link corLetraBranco" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Postagens</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mais
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Editar perfil</a>
            <a class="dropdown-item" href="#">História</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Propósito e valores</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </div>
</nav>





<div class="container-fluid text-center col-md-6 mt-5">
    <div>
        <h1>Propósito</h1>
        <p>Nosso principal propósito é promover o afastamento do Brasil do mapa da fome, além de conectar pessoas e empresas que querem ajudar, mas não sabem por onde começar, gerando, assim, um ciclo sem fim de união e ajuda ao próximo.</p>
    </div>

<div>
    <h1>Valores</h1>
        <p>🚩Fome de lutar pela deflagração do fim da fome e pela agricultura sustentável</p>
        <p>🚩Fome de ajudar quem precisa</p>
        <p>🚩Fome de respeitar</p>    
        <p>🚩Fome de aprender</p>      
</div> 
</div>


<footer class="page-footer font-small bg corTerra pt-4 mt-5"> 
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Encontre-nos</h4>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">               
                <ul class = "redeSocial">
                    <li>
                     <a href="https://github.com/BrunodevBandeira/Generation-Brasil-Rede-Socia-FarturaHub" target="_blank"> <img src="https://i.imgur.com/v1Ocpz0.png" alt="Ícone do GitHub" width="30px" height="30px">
                    </a>                       
                    </li>
                </ul>
            </div>
        </div>   
    </div>
    
    <div class="footer-copyright bg-success text-center py-3">
        <span class="text-light"> Grupo 4, 2021 &copy;.  </span>
        <a class="text-light" target="_blank" href="https://github.com/BrunodevBandeira/Generation-Brasil-Rede-Socia-FarturaHub">FarturaHub</a>
    
    </div>
</footer>
    